body {
    font-size: 16px;
}

body {
    font-size: 1.05rem;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

section {
    padding: 30px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 4%;
    margin-bottom: 80px;

}

.section__title {
    border-bottom: solid 3px #ccc;
    margin-bottom: 30px;
}

.section__inner {
    display: flex;
    align-items: flex-start;
}

/* ---------------------------
   header
--------------------------- */
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

}

.header a {
    padding: 16px;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner h1 {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.header__inner p {
    font-size: 1rem;
    color: #555;
}

/* ---ロゴ--- */

.header__sub {
    font-size: 0.8rem;
    color: #555;
    margin: 0;
    line-height: 1.2;
}

.header__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;

}

.header__title a {
    text-decoration: none;
    color: #333;
}


/* ---ナビ--- */
.header__list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__item a {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    padding: 16px;
    display: block;
}

.header__item a:hover {
    opacity: 0.7;
}

/* ---------------------------
   HERO
--------------------------- */

.hero {
    max-width: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ---swiper--- */
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.swiper-slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.swiper-slide:nth-child(1),
.swiper-slide:nth-child(4),
.swiper-slide:nth-child(7) {
    background-image: url('../img/fv-new1.jpg');
}

.swiper-slide:nth-child(2),
.swiper-slide:nth-child(5),
.swiper-slide:nth-child(8) {
    background-image: url('../img/fv-new2.jpg');
}

.swiper-slide:nth-child(3),
.swiper-slide:nth-child(6),
.swiper-slide:nth-child(9) {
    background-image: url('../img/fv-new3.jpg');
}

/* ---hero_text--- */
.hero__text {
    font-family: "Noto Serif JP", serif;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: #ffffff;
}

.hero__text h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.hero__text p {
    font-size: 16px;
    margin-bottom: 32px;
}

/* ---CTAボタン--- */
.hero__btn {
    display: inline-block;
    padding: 14px 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    transition: all 0.3s;
}

.hero__btn:hover {
    background: #ffffff;
    color: #333;
}

/* ---------------------------
   ABOUT
--------------------------- */
.about {
    margin-top: 80px;
}

/* ---about内容--- */

.about__images {
    width: 55%;
    position: relative;
    height: 700px;
}

.about__img1 img,
.about__img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 80%;
}

.about__img2 {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 10%;
    width: 70%;
    height: 35%;
}

.about__lead {
    display: block;
    text-align: center;
    margin-top: 80px;
}

.about__lead h3,
.about__lead p {
    font-family: "Noto Serif JP", serif;
    font-weight: 800;
}

.about__lead h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.about__lead p {
    margin-bottom: 30px;
}

/* ---view moreボタン--- */
.about__btn {
    display: inline-block;
    width: 180px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    outline: none;
    color: #333;
    background-color: #fff;
    position: relative;
    border: 1px solid #333;
    transition: color 0.5s ease;
}

.about__btn:hover {
    color: #fff;
}

.about__btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.about__btn::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s ease;
    transition-property: transform;
}

.about__btn--primary {
    position: relative;
}

/*SERVICE*****************
         **************/

.service__list {
    margin-top: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.service__item {
    padding: 48px 24px;
    border-radius: 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.service__item:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.service__image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.service__name {
    margin: 10px 0;
}

.service__text {

    line-height: 1.6;

}

/* ---------------------------
   DATE
--------------------------- */
.date__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.date__title::before,
.date__title::after {
    content: "";
    height: 3px;
    width: 50%;
    background-color: #ccc;
}

.date__title::before {
    margin-right: 25px;
}

.date__title::after {
    margin-left: 25px;
}

.date__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-top: 20px;
}

.date__list span {
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
}
/*NEWS*****************
         **************/


/* ここからがニュース記事のCSS */

.news_list {
  margin: 0 5%;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item {
  background: #f6e8a2;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
} */




/*VISION*****************
         **************/


.vision__title {
    max-width: 1200px;
    border-bottom: solid 3px #ccc;
}

.vision__lead {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 20px 0;
    margin: 0;
}


.vision__text {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.vision__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.vision__text-group {
    flex: 1;
}

/* .spacer {
    height: 50vh;
 } */
.vision__image {
    flex-shrink: 0;
    width: 45%;
}

.vision__image img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.fade-up {
    /* 最初は隠しておく */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-up.is-show {
    opacity: 1;
    transform: translateY(0);
}

/*MISSION*****************
         **************/


.mission__title {
    max-width: 1200px;
    border-bottom: solid 3px #ccc;
}

.mission__lead {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 20px 0;
    margin: 0;
}


.mission__text {
    font-size: 1.5rem;
    padding: 0 0 30px 0;

}

.mission__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.mission__text-group {
    flex: 1;
}



/*COMPANY PROFILE*****************
         **************/


.profile__title {
    max-width: 1200px;
    border-bottom: solid 3px #ccc;
}

.profile h3 {
    margin: 10px 0;
}

.profile__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.profile__table td,
.profile__table th {
    border: solid 1px #ccc;
}

.profile__table th {
    width: 15%;
    padding: 10px;
    background-color: #f1ebeb
}

.profile__table td {
    width: 75%;
    padding: 10px;
}

/*ACCESS*****************
         **************/


.access__title {
    max-width: 1200px;
    border-bottom: solid 3px #ccc;
}

.access__text {
    margin: 20px 0;
    font-weight: 500;
}

.google-map {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}


@media screen and (max-width: 768px) {
    .google-map {
        height: 60vw;
    }
}